POSTGRES_USER=username_test
POSTGRES_PASSWORD=passworld_test
POSTGRES_DB=Database_test

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

HASH_URL=clé_pour_hasher_les_url
HASH_PASSWORLD=clé_pour_hasher_le_mdp

NAME_HASH_ID=hash_pour_autoriser_les_requetes